/* Resources */


.title {
  font-size: 2.3em;
  margin-bottom: 40px;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.containerInner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*.mdnLogo {
  margin: 0 10px;
  max-width: 135px;
}*/
.w3Logo {
  margin: 0 10px;
  max-width: 158px;
}

.responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.someMargin {
  margin: 100px;
}
